image: Visual Studio 2017

version: 1.0.{build}

branches:
  only:
    - master
    - develop
    - feature/appveyor

init:
  - git config --global core.autocrlf input

cache:
  - packages -> **\packages.config  
  - '%LocalAppData%\NuGet\Cache'    
  - '%LocalAppData%\NuGet\v3-cache' 

platform: Any CPU

configuration: Release

before_build:
  - nuget restore ArgParser/ArgParser.sln

build:
  parallel: true
  project: ArgParser/ArgParser.sln
  verbosity: detailed

artifacts:
- path: artifacts/packages
- path: artifacts/test

test:
  assemblies:
    - '**\*.Test.dll'
    - '**\*.Tests.dll'