image: Visual Studio 2017

version: 1.0.{build}

branches:
  only:
    - master
    - develop
    - feature/appveyor

init:
  - git config --global core.autocrlf input

cache:
  - packages -> **\packages.config  
  - '%LocalAppData%\NuGet\Cache'    
  - '%LocalAppData%\NuGet\v3-cache' 

platform: Any CPU

configuration: Release

before_build:
  - nuget restore ArgParser/ArgParser.sln

build:
  parallel: true
  project: ArgParser/ArgParser.sln
  verbosity: minimal

test:
  assemblies:
    - '**\*.Test.dll'
    - '**\*.Tests.dll'

test_script:
- ps: >-
    nuget install xunit.runner.console -OutputDirectory packages -Version 2.3.1
    nuget install OpenCover -OutputDirectory packages -Version 4.6.166
    dotnet tool install coveralls.net --tool-path tools
    .\packages\OpenCover.4.6.166\tools\OpenCover.Console.exe -register:user -target:dotnet.exe "-targetargs:"".\packages\xunit.runner.console.2.3.1\tools\netcoreapp2.0\xunit.console.dll"" ""ArgParser/ArgParser.Core.Test.dll"" -noshadow -appveyor" -filter:"+[ArgParser*]*" -oldStyle -output:opencoverCoverage.xml
    iex ".\tools\csmacnz.coveralls.exe --opencover -i opencoverCoverage.xml --repoToken $env:COVERALLS_REPO_TOKEN --commitId $env:APPVEYOR_REPO_COMMIT --commitBranch $env:APPVEYOR_REPO_BRANCH --commitAuthor $env:APPVEYOR_REPO_COMMIT_AUTHOR --commitEmail $env:APPVEYOR_REPO_COMMIT_AUTHOR_EMAIL --commitMessage $env:APPVEYOR_REPO_COMMIT_MESSAGE --jobId $env:APPVEYOR_JOB_ID"


environment:
  COVERALLS_REPO_TOKEN:
    secure: dxNQXnuBxcyVeQhaepf3P5NWWpP3tz+9j+gvlduwmBaeoIeyuvfMRRA5JFE/omEs